* {
  margin: auto !important;
  padding: auto;
  box-sizing: border-box;
}

h1, h2, h3 {
  text-align: center;
  padding: 40px;
}

h1 {
  font-size: 90px bold !important;
  position: absolute; /* Use absolute positioning */
  top: 400px; /* Adjust this value to move it up */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for the center alignment */
  color: white !important;
  background-color: rgba(185, 185, 185, 0.5);
  z-index: 1; /* Ensure it stays above the header */
}

section {
  margin: 40px !important;
  padding: 40px 80px;
}

p {
  padding: 20px;
  text-align: left;
}

a {
  text-decoration: none !important;
}

hr {
  max-width: 50%;
  padding: 40px;
}

footer {
  background-color: #000;
  font-size: 14px;
}
footer img {
  max-width: 150px;
}
footer hr {
  max-width: 10%;
  padding: 5px;
}
footer p {
  padding: 10px;
}
footer .copyright {
  font-size: 12px;
  text-align: center;
  color: white;
}
footer .social-icons li {
  padding: 10px;
  transition: 0.3s;
  list-style-type: none;
  display: inline-block;
}
footer .social-icons li a {
  color: white;
}
footer .social-icons li:hover {
  transform: scale(1.1);
}
footer .footer-links li {
  transition: 0.3s;
  list-style-type: none;
  display: inline-block;
}
footer .footer-links li a {
  padding: 8px !important;
}
footer .footer-links li:hover {
  transform: scale(1.01);
}

header {
  height: 800px;
  background-image: url(../img/stoic-school.webp);
  background-size: cover; /* Cover the entire header */
  background-position: center;
  position: relative;
}

nav {
  background-color: #000;
}

.nav-link {
  padding: 5px 30px !important;
  color: white !important;
  transition: 0.4s !important;
}
.nav-link:hover {
  transform: scale(1.2);
  text-decoration: underline !important;
}

#daily {
  padding-right: 0px !important;
}

.logo {
  max-width: 100px;
}

.parallax-section {
  position: relative; /* Create a positioning context for the child elements */
  height: 600px; /* Set the height of the section */
  overflow: hidden; /* Prevent overflow */
}

.parallax {
  background-image: url("../img/marcus.png"); /* Your parallax image URL */
  height: 100%; /* Make the parallax fill the section */
  width: 100%; /* Full width */
  background-attachment: fixed; /* Parallax effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Cover the entire section */
}

.content-parallax {
  position: absolute; /* Position it relative to the parallax section */
  top: 75%; /* Center it vertically */
  left: 50%; /* Center it horizontally */
  transform: translate(-50%, -50%); /* Adjust position to truly center it */
  color: white; /* Optional: Make the text stand out against the background */
  padding: 10px; /* Optional padding */
  border-radius: 10px; /* Optional: Round the corners */
}

.cards {
  padding: 80px;
}
.cards a {
  color: #000;
}
.cards .card {
  box-shadow: 10px 10px 5px #d0974c;
}
.cards .card .card-link {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 5px;
}
.cards .card .card-link:hover {
  text-decoration: underline !important;
  transform: scale(1.5);
  background-color: #000;
  color: #d0974c;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  section {
    margin: 15px !important;
    padding: 20px 40px;
  }
  p {
    padding: 20px;
  }
  form div input, textarea {
    max-width: 250px;
    margin: 0 !important;
  }
}
@media (max-width: 568px) {
  h1 {
    font-size: 25px !important;
  }
  section {
    margin: 10px !important;
    padding: 15px 30px;
  }
  p {
    padding: 14px;
  }
  h2 {
    font-size: 18px !important;
    padding: 14px;
  }
  h3 {
    padding: 20px;
  }
  .cards {
    padding: 22px 22px 60px 22px;
    margin: 5px !important;
  }
  .card {
    margin-bottom: 20px !important;
  }
  .parallax {
    background-attachment: scroll; /* Disable the fixed background */
  }
  .navbar-toggler, .navbar-collapse {
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.8) 0%, rgba(227, 156, 13, 0.8) 100%, rgba(0, 212, 255, 0.8) 8%);
  }
  .container-fluid, .navbar {
    padding: 0px !important;
  }
}
.images {
  border-radius: 5%;
  box-shadow: 10px 10px 5px rgba(191, 190, 190, 0.5);
}

form div input, textarea {
  border-radius: 3% !important;
  margin: 10px !important;
  box-shadow: 8px 8px 4px #d0974c, 0.5;
}

/*# sourceMappingURL=style.css.map */
