@import 'config.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'parallax.scss';
@import 'cards.scss';
@import 'mediaQuery.scss';

.images {
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(191, 190, 190, 0.5);
}
form div input, textarea {
    border-radius: 5px !important;
    margin: 10px !important;
    box-shadow: 8px 8px 4px $primary-color, 0.5;
    background-color: white;
    padding: 6px;
    &:hover {
        text-decoration: underline !important; 
        background-color: $secondary-color;
        color: $primary-color;
    }
}
.form-button input {
    border: 1px solid $secondary-color !important;
    color: black;
}

    
